<section class="container page-head"><h1>Bảo hành / đổi trả</h1><a class="btn primary" href="/warranty/create">Tạo yêu cầu</a></section><section class="container page-card"><table class="table"><% items.forEach(i=>{ %><tr><td><%= i.productname || i.productid %></td><td><%= i.requesttype %></td><td><%= i.status %></td><td><%= format.datetime(i.createdat) %></td></tr><% }) %></table></section>
