<section class="container page-card">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <% if (detail) { %><pre class="code"><%= detail %></pre><% } %>
  <a class="btn primary" href="/">Về trang chủ</a>
</section>
