<section class="container page-head"><h1>Vận đơn của tôi</h1></section><section class="container page-card"><table class="table"><% items.forEach(i=>{ %><tr><td><%= i.ordercode %></td><td><%= i.providername %></td><td><%= i.trackingnumber %></td><td><%= i.status %></td></tr><% }) %></table></section>
